{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="cx-app">

    <aside class="cx-app__sidebar">

        {% include "sidebar/sidebar.html" %}

    </aside>

    <div class="cx-app__main">

        <header class="cx-app__header">

            {% include "components/navigation/topbar.html" %}

        </header>

        <main class="cx-app__page">

            {% block content %}
            {% endblock %}

        </main>

    </div>

</div>


<div id="modal-container"></div>

<div id="nested-modal-container"></div>

<script src="{% static 'js/sidebar.js' %}"></script>

{% endblock %}