{% load components %}

{% component "layout/modal" title="Delete Section" %}

<form
    method="post"
    hx-post="{{ post_url|default:request.path }}"
    {% if target %}
    hx-target="{{ target }}"
    hx-swap="innerHTML"
    {% endif %}
>

    {% csrf_token %}

    <p class="cx-delete-message">
        Are you sure you want to delete
        <strong>
            {{ section.class_level.name }} - {{ section.name }}
        </strong>
        from
        <strong>
            {{ section.academic_session.name }}
        </strong>?
    </p>

    {% include "components/forms/actions.html" with submit_label="Delete" submit_variant="danger" %}

</form>

{% endcomponent %}