<div class="cx-page-header">

    <div class="cx-page-header__content">

        {% if breadcrumb %}
            <div class="cx-page-header__breadcrumb">
                {{ breadcrumb|safe }}
            </div>
        {% endif %}

        <h1 class="cx-page-header__title">
            {{ title }}
        </h1>

        {% if subtitle %}
            <p class="cx-page-header__subtitle">
                {{ subtitle }}
            </p>
        {% endif %}

        {% if description %}
            <p class="cx-page-header__description">
                {{ description }}
            </p>
        {% endif %}

    </div>

    {% if slot %}

        <div class="cx-page-header__actions">

            {{ slot|safe }}

        </div>

    {% endif %}

</div>